/*Estilo para la plantilla de app/plantilla/acceso.php*/

#botones {
    width: 45vw;
    margin-left: 77px;
    margin-bottom: 47px;
    margin-top: 3px;
}

#nota {
    width: 26vw;
    margin-left: 66px;
    margin-bottom: 0vw;
    margin-top: -38px;
}

#nota img {
    width: 31px;
}

#infonota {
    visibility: hidden;
    font-size: 2.5vw;
    width: 15vw;
    background: #000000;
    color: #ffffff;
    margin-top: -4vh;
    margin-bottom: -7vh;
    margin-left: 8vw;
}

#acceso {
    margin-left: 0vw;
    margin-top: 0;
}

@media all and (min-width: 768px) {
    #aviso {
        width: 58vw;
    }
    #botones {
        width: 23vw;
        margin-left: 11vw;
        margin-bottom: 1vw;
        margin-top: 1vw;
    }
    #nota {
        width: 15vw;
        margin-left: 10vw;
        margin-top: -5.5vw;
        margin-bottom: 1vw;
    }
    #nota img {
        width: 4vw;
    }
    #infonota {
        visibility: hidden;
        font-size: 1.5vw;
        width: 9vw;
        background: #000000;
        color: #ffffff;
        margin-top: -5vh;
        margin-bottom: 0vh;
        margin-left: 3vw;
    }
    #acceso {
        margin-left: 10vw;
        margin-top: 3vw;
    }
}

@media all and (min-width: 1024px) {
    #aviso {
        width: 37vw;
    }
    #botones {
        width: 16vw;
        margin-left: 69px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #nota {
        width: 7vw;
        margin-left: 70px;
        margin-top: -41px;
        margin-bottom: 0vw;
    }
    #nota img {
        width: 33px;
    }
    #infonota {
        visibility: hidden;
        font-size: 14px;
        width: 91px;
        background: #000000;
        color: #ffffff;
        margin-top: -34px;
        margin-bottom: 0vh;
        margin-left: 34px;
    }
    #acceso {
        margin-left: 70px;
        margin-top: 18px;
    }
}