body {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url("../img/discoteca.jpg");
    text-align: justify;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: #757E82;
}

#container {
    background: #fff;
    border: solid 1px;
    width: 40vw;
    margin-left: 29vw;
    margin-top: 20vh;
}