body {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url("../img/discoteca.jpg");
    text-align: justify;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: #757E82;
}

section {
    background: #fff;
    border: double 2px darkgoldenrod;
    width: 93vw;
    margin-left: 0.5vw;
    margin-top: 8vh;
}

@media all and (min-width: 768px) {
    section {
        background: #fff;
        border: double 2px darkgoldenrod;
        width: 60vw;
        margin-left: 18.5vw;
        margin-top: 21vh;
    }
}

@media all and (min-width: 1024px) {
    section {
        background: #fff;
        border: double 2px darkgoldenrod;
        width: 40vw;
        margin-left: 28.5vw;
        margin-top: 21vh;
    }
}