body {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url("../img/discoteca.jpg");
    text-align: justify;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: #757E82;
}

#container {
    background: #fff;
    border: double 2px darkgoldenrod;
    width: 93vw;
    margin-left: 1vw;
    margin-top: 5vh;
}