/*Estilo para el pie de página*/

footer {
    color: #ffffff;
    background-image: linear-gradient(-90deg, rgba(246, 153, 31, 0.883), rgba(246, 209, 160, 0.883), rgba(246, 153, 31, 0.883));
    padding: 1vh;
    height: 1%;
    font-size: 2vw;
    text-shadow: #000000 0.1em 0.1em 0.2em;
}

#copy {
    width: 28vw;
    margin-top: 1.5vh;
}

#nombres {
    width: 40vw;
    margin-left: 51vw;
    margin-top: -2.3vh;
}

#atribucion {
    width: 47vw;
    margin-left: 19vw;
}

@media all and (min-width: 768px) {
    footer {
        color: #ffffff;
        background-image: linear-gradient(-90deg, rgba(246, 153, 31, 0.883), rgba(246, 209, 160, 0.883), rgba(246, 153, 31, 0.883));
        padding: 0.5vw;
        font-size: 1.5vw;
        text-shadow: #000000 0.1em 0.1em 0.2em;
    }
    #copy {
        width: 20vw;
        margin-top: -2.5vh;
    }
    #nombres {
        width: 30vw;
        margin-left: 30vw;
        margin-top: -4.3vh;
    }
    #atribucion {
        width: 24vw;
        margin-left: 16vw;
        margin-top: -1vw;
        font-size: 1vw;
    }
}

@media all and (min-width: 1024px) {
    footer {
        color: #ffffff;
        background-image: linear-gradient(-90deg, rgba(246, 153, 31, 0.883), rgba(246, 209, 160, 0.883), rgba(246, 153, 31, 0.883));
        padding: 0.3vw 0.3vw 0.3vw 0vw;
        font-size: 1vw;
        text-shadow: #000000 0.1em 0.1em 0.2em;
    }
    #copy {
        width: 13vw;
        margin-top: -0.5vw;
        margin-left: 2vw;
    }
    #nombres {
        width: 20vw;
        margin-left: 19vw;
        margin-top: -2.1vw;
    }
    #atribucion {
        width: 16vw;
        margin-left: 12vw;
        margin-top: -0.5vw;
        font-size: 0.7vw;
    }
}