#header {
    background: darkgoldenrod;
    text-align: center;
    padding: 20px 20px 20px 20px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#logo {
    width: 43vw;
    margin-left: 17vw;
    margin-bottom: 2vh;
}

#logo>img {
    width: 33vw;
}

#header h1 {
    font-size: 26px;
    font-family: disco;
    width: 69vw;
    margin-left: 5vw;
    margin-top: 4vw;
}

#header h2 {
    font-size: 20px;
    margin: 0;
}

.letratexto {
    font-family: Tahoma, Geneva, sans-serif;
}

@font-face {
    font-family: disco;
    src: url(../fuentes/DiscoDiva.ttf);
}